<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 STRICT//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= "#{name}" %></title>
    <% if has_css %>
    <link rel="stylesheet" type="text/css" href=<%= "\"#{name}.css\"" %> />
    <% end %>
    <% if has_js %>
    <script type="text/javascript" src=<%= "\"#{name}.js\"" %></script>
    <% end %>
  </head>
  <body>
    <p>Testing...</p>
  </body>
</html>
